<form action="/posts/create_tag">
    <input type="text" name="tag[]">
    <input type="text" name="tag[]">
    <input type="text" name="tag[]">
    <input type="text" name="tag[]">
    <input type="submit">
    
</form>